@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);





body {
  font-family: Muli;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.75rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #444444 !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #767676 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffa200;
  border-color: #ffa200;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #b37100;
  border-color: #b37100;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0f7699;
  border-color: #0f7699;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #084053;
  border-color: #084053;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #767676;
  border-color: #767676;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #505050;
  border-color: #505050;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #996100;
  color: #996100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #444444 !important;
}
.text-secondary {
  color: #ffa200 !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #767676 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #111111 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #434343 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #767676;
}
.mbr-gallery-filter li.active .btn {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #444444;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b7b7b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #444444;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #444444;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #444444;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #444444;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #444444;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qC4al5zZ8u {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qC4al5zZ8u .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qC4al5zZ8u .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-qC4al5zZ8u .mbr-text {
  color: #000000;
  letter-spacing: 0.03em;
}
.cid-qC6jjSm2N0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qC6jjSm2N0 .title {
  margin-bottom: 2rem;
}
.cid-qC6jjSm2N0 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qC6jjSm2N0 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qC6jjSm2N0 .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qC6jjSm2N0 .input-group-btn {
  display: block;
}
.cid-qC6jjSm2N0 h2 {
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.cid-qC6jjSm2N0 h3 {
  color: #767676;
  letter-spacing: 0.03em;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.cid-qC6jjSm2N0 .mbr-section-subtitle P {
  text-align: left;
}
.cid-qC6jjSm2N0 .mbr-form input,
.cid-qC6jjSm2N0 textarea {
  border-radius: 0px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  .cid-qC6jjSm2N0 h2 {
    text-align: center;
  }
  .cid-qC6jjSm2N0 h3 {
    text-align: center;
  }
  .cid-qC6jjSm2N0 .input-group-btn {
    text-align: center;
  }
  .cid-qC6jjSm2N0 .social-list {
    text-align: center;
  }
}
.cid-qC4amMazga {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-qC4amMazga .content-row {
  flex-direction: column-reverse;
}
.cid-qC4amMazga .mbr-section-title {
  color: #232323;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;
}
.cid-qC4amMazga .mbr-section-subtitle {
  color: #232323;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
}
.cid-qC4amMazga .card {
  padding: 1rem .5rem;
}
.cid-qC4amMazga .wrap {
  width: 115px;
  height: 115px;
  margin: 0 auto;
}
.cid-qC4amMazga .btn {
  margin: 0 !important;
}
@media (min-width: 1200px) {
  .cid-qC4amMazga .first-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .cid-qC4amMazga .main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cid-qC4amMazga h2,
  .cid-qC4amMazga h3 {
    text-align: center !important;
  }
  .cid-qC4amMazga .main > div > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cid-qC4amMazga path {
  stroke: #232323;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qC4amMazga .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-qC53K2tkqv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qC53K2tkqv .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
}
.cid-qC53K2tkqv .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-qC53K2tkqv .btn {
  margin: 0px !important;
}
.cid-qC53K2tkqv .second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC53K2tkqv .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qC53K2tkqv .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qC53K2tkqv .carousel-item .wrap-img {
  text-align: center;
}
.cid-qC53K2tkqv .carousel-item .wrap-img img {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
.cid-qC53K2tkqv .carousel {
  display: flex;
  flex-direction: column-reverse;
}
.cid-qC53K2tkqv .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-qC53K2tkqv .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
}
.cid-qC53K2tkqv .carousel-indicators li.active {
  border: 4px solid #8d8d8d;
  border-color: #a3a3a3;
}
@media (max-width: 768px) {
  .cid-qC53K2tkqv .second-col {
    padding-top: 2rem;
  }
}
.cid-qC4ayVHCT3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/04.jpg");
}
.cid-qC4ayVHCT3 h4 {
  display: flex;
  letter-spacing: 0.03em;
  color: #ffffff;
  align-items: center;
}
.cid-qC4ayVHCT3 .panel-text {
  letter-spacing: 0.03em;
  color: #444444;
}
.cid-qC4ayVHCT3 .mbr-section-title {
  letter-spacing: 0.1em;
  color: #ffffff;
}
.cid-qC4ayVHCT3 .mbr-section-subtitle {
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #ffffff;
}
.cid-qC4ayVHCT3 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qC4ayVHCT3 .panel-group {
  width: 100%;
}
.cid-qC4ayVHCT3 .card {
  border-bottom: 1px solid #efefef;
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-qC4ayVHCT3 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qC4ayVHCT3 .card .card-header a.panel-title {
  transition: all .3s;
  background-color: #444444;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-qC4ayVHCT3 .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-qC4ayVHCT3 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qC4ayVHCT3 .card .card-header a.panel-title .sign {
  padding-left: 1rem;
}
.cid-qC4ayVHCT3 .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.cid-qC4ayVHCT3 .card .panel-body {
  background: #efefef;
}
.cid-qC4ayVHCT3 .media-container-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC4ayVHCT3 .sign {
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-qC4ayVHCT3 .media-container-row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-qC4ayVHCT3 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-qC4aAndZYr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qC4aAndZYr .text-section-title {
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: left;
  color: #232323;
}
.cid-qC4aAndZYr .text-section-text {
  letter-spacing: 0.03em;
  line-height: 1.8;
  text-align: left;
  color: #232323;
}
.cid-qC4aAndZYr h4 {
  display: flex;
  letter-spacing: 0.03em;
  align-items: center;
  color: #000000;
}
.cid-qC4aAndZYr .panel-text {
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 1.7;
}
.cid-qC4aAndZYr .mbr-section-title {
  letter-spacing: 0.1em;
  color: #000000;
}
.cid-qC4aAndZYr .mbr-section-subtitle {
  letter-spacing: 0.03em;
  color: #333333;
}
.cid-qC4aAndZYr .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qC4aAndZYr .panel-group {
  width: 100%;
}
.cid-qC4aAndZYr .card {
  border-bottom: 1px solid #efefef;
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-qC4aAndZYr .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qC4aAndZYr .card .card-header a.panel-title {
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-qC4aAndZYr .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-qC4aAndZYr .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qC4aAndZYr .card .card-header a.panel-title .sign {
  padding-left: 1rem;
}
.cid-qC4aAndZYr .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.cid-qC4aAndZYr .card .panel-body {
  background: #efefef;
}
.cid-qC4aAndZYr .sign {
  color: #000000;
}
.cid-qC4aAndZYr .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-qC4aAndZYr .media-container-row .accordion-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-qC4aAndZYr .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-qC4aAndZYr .media-container-row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-qC4aAndZYr .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-qC4avER1RZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-qC4avER1RZ .content-row {
  flex-direction: column-reverse;
  padding: 1rem;
}
.cid-qC4avER1RZ .card-img span {
  font-size: 80px;
}
.cid-qC4avER1RZ .title {
  letter-spacing: 0.1em;
  margin: 0px;
}
.cid-qC4avER1RZ .price {
  padding: 35px 10px 10px;
  letter-spacing: 0.03em;
  text-align: center;
}
.cid-qC4avER1RZ .mbr-section-btn {
  padding: 1rem;
}
.cid-qC4avER1RZ .price-value {
  line-height: 60px;
  margin-top: 11px;
}
.cid-qC4avER1RZ .plan {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-word;
  position: relative;
  color: #333333;
}
.cid-qC4avER1RZ .plan .list-group-item {
  border: none !important;
  position: relative;
  padding: 17px 10px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1.8;
}
.cid-qC4avER1RZ .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qC4avER1RZ .plan .list-group-item:last-child::after {
  height: 1px;
}
.cid-qC4avER1RZ .plan-title {
  color: #232323;
  margin: 0px;
  letter-spacing: 0.1em;
}
.cid-qC4avER1RZ .plan-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  padding: 1rem;
}
.cid-qC4avER1RZ .plan-body {
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-color: #efefef;
}
.cid-qC4avER1RZ .title,
.cid-qC4avER1RZ .card-img {
  text-align: center;
}
.cid-qC4avER1RZ .pricing-row {
  padding-top: 2rem;
}
.cid-qC4ark90Ai {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-qC4ark90Ai .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qC4ark90Ai .mbr-section-subtitle {
  color: #444444;
  letter-spacing: 0.03em;
}
.cid-qC4ark90Ai .client-name {
  color: #444;
  letter-spacing: 0.05em;
}
.cid-qC4ark90Ai .wrap-img {
  padding-bottom: 1rem;
}
.cid-qC4ark90Ai .wrap-img img {
  max-width: 100%;
}
.cid-qC4ark90Ai .card-box p {
  color: #444;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-qC4aF80mko {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qC4aF80mko .mbr-section-title {
  font-weight: bold;
  color: #232323;
  margin-bottom: 2.5rem;
}
.cid-qC4aF80mko .mbr-section-subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}
.cid-qC4aF80mko .mbr-element-title {
  margin-bottom: 1rem;
}
.cid-qC4aF80mko .card-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cid-qC4aF80mko .card-img span {
  font-size: 80px;
}
.cid-qC4aF80mko .nav {
  border: none;
  margin-bottom: 3rem;
}
.cid-qC4aF80mko .nav-tabs {
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qC4aF80mko .tabcont {
  z-index: 1;
}
.cid-qC4aF80mko .nav-item {
  margin-top: 1rem;
}
.cid-qC4aF80mko .nav-tabs .nav-link {
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  transition: all .5s;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom: 1px solid #767676;
}
.cid-qC4aF80mko .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #767676;
}
.cid-qC4aF80mko .nav-tabs .nav-link.active {
  border: 1px solid #767676;
  border-bottom: none;
  font-style: normal;
  background-color: transparent;
}
.cid-qC4aN9hrrx {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qC4aN9hrrx p {
  color: #767676;
}
.cid-qC4aN9hrrx .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qC4aN9hrrx .main {
  flex-direction: row-reverse;
}
.cid-qC4aN9hrrx .row-element,
.cid-qC4aN9hrrx .image-element {
  padding: 0;
}
.cid-qC4aN9hrrx .image-element {
  display: flex;
  justify-content: center;
}
.cid-qC4aN9hrrx .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qC4aN9hrrx .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qC4aN9hrrx .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #444444, #ffa200);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-qC4aN9hrrx .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-qC4aN9hrrx .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qC4aN9hrrx .text-content {
    padding: 2rem 1rem;
  }
  .cid-qC4aN9hrrx .underline .line {
    height: 2px;
  }
  .cid-qC4aN9hrrx .mbr-title,
  .cid-qC4aN9hrrx .underline,
  .cid-qC4aN9hrrx .mbr-text,
  .cid-qC4aN9hrrx .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qC4aPFMexY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/05.jpg");
}
.cid-qC4aPFMexY .signature {
  transform: rotate(-3deg);
}
.cid-qC4aPFMexY .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qC4aPFMexY .card-img {
  margin-bottom: 1rem;
}
.cid-qC4aPFMexY .card-img span {
  font-size: 60px;
}
.cid-qC4aKrn4zr {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-qC4aKrn4zr .mbr-section-title {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #232323;
  text-align: center;
}
.cid-qC4aKrn4zr .nav {
  border: none;
}
.cid-qC4aKrn4zr .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qC4aKrn4zr .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 0px;
  margin-bottom: 1rem;
  transition: all .5s;
  border-radius: 0px !important;
  border-bottom: 1px solid #232323;
}
.cid-qC4aKrn4zr .nav-tabs .nav-link h4 {
  margin: 0;
}
.cid-qC4aKrn4zr .nav-tabs .nav-link:hover {
  border: 1px solid #232323;
  background-color: #18191b;
  color: #ffffff;
}
.cid-qC4aKrn4zr .nav-tabs .nav-link.active {
  border: 1px solid #232323;
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background: #18191b;
}
.cid-qC4aKrn4zr .media-container-row > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cid-qC4alKq7Wi {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f7f7f7;
}
.cid-qC4alKq7Wi h2 {
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 2rem;
}
.cid-qC4alKq7Wi .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qC4alKq7Wi .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qC4alKq7Wi .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qC4alKq7Wi .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qC4alKq7Wi .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qC4alKq7Wi .mbr-gallery-filter-all > a {
  padding: 30px;
  background-color: transparent !important;
  color: #888888;
}
.cid-qC4alKq7Wi .mbr-section-title {
  padding-bottom: 2rem;
  margin: 0;
}
.cid-qC4alKq7Wi .mbr-section-title p {
  margin: 0;
}
.cid-qC4alKq7Wi .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-qC4alKq7Wi .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #888888;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-qC4alKq7Wi .mbr-gallery-filter .btn:hover {
  background-color: transparent;
}
.cid-qC4alKq7Wi .mbr-gallery-filter li.active .btn {
  background-color: transparent;
  color: #000000;
}
.cid-qC4alKq7Wi .mbr-gallery-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
