@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);





body {
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #b38400;
  border-color: #b38400;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #3e97d1;
  border-color: #3e97d1;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #256e9d;
  border-color: #256e9d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #256e9d !important;
  border-color: #256e9d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4100;
  border-color: #ff4100;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #b32d00;
  border-color: #b32d00;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #36d88a;
  border-color: #36d88a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #1fa263;
  border-color: #1fa263;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1fa263 !important;
  border-color: #1fa263 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #215f88;
  color: #215f88;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #3e97d1;
  border-color: #3e97d1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #992700;
  color: #992700;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1b8d56;
  color: #1b8d56;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #36d88a;
  border-color: #36d88a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #3e97d1 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #215f88 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: #444444;
  opacity: .5;
  transition: .3s;
}
.mbr-arrow a {
  color: #ffffff;
}
.mbr-arrow:hover {
  opacity: .7;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffbc00;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffbc00;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffbc00;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffbc00;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffbc00;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.scroll-background {
  background-repeat: repeat-x !important;
}
.cid-qBqAzZbZZ7 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qBqAzZbZZ7 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-qBqAzZbZZ7 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-menu {
  width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #ffbc00;
}
.cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-qBqAzZbZZ7 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-qBqAzZbZZ7 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-qBqAzZbZZ7 .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-qBqAzZbZZ7 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qBqAzZbZZ7 .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-qBqAzZbZZ7 .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-qBqAzZbZZ7 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qBqAzZbZZ7 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-qBqAzZbZZ7 .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-qBqAzZbZZ7 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: 70%;
    word-break: break-word;
  }
  .cid-qBqAzZbZZ7 .navbar .navbar-toggler {
    flex-basis: 30%;
  }
}
.cid-qBqAzZbZZ7 .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qBqAzZbZZ7 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qBqAzZbZZ7 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qBqAzZbZZ7 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qBqAzZbZZ7 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qBqAzZbZZ7 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qBqAzZbZZ7 .dropdown-item.active,
.cid-qBqAzZbZZ7 .dropdown-item:active {
  background-color: transparent;
}
.cid-qBqAzZbZZ7 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qBqAzZbZZ7 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qBqAzZbZZ7 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qBqAzZbZZ7 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qBqAzZbZZ7 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-qBqAzZbZZ7 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qBqAzZbZZ7 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qBqAzZbZZ7 .navbar-buttons {
  text-align: center;
}
.cid-qBqAzZbZZ7 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qBqAzZbZZ7 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qBqAzZbZZ7 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qBqAzZbZZ7 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qBqAzZbZZ7 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qBqAzZbZZ7 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qBqAzZbZZ7 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBqAzZbZZ7 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qBqAzZbZZ7 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qBqAzZbZZ7 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qBqAzZbZZ7 .navbar-dropdown {
  padding: 0rem 1rem;
  position: fixed;
}
.cid-qBqAzZbZZ7 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-qBqAzZbZZ7 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qBqAzZbZZ7 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-qBqAzZbZZ7 .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-qBdMUe7Itx {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-qBdMUe7Itx .images-container.container-fluid {
  padding: 0;
}
.cid-qBdMUe7Itx .media-container-row {
  margin: 0 auto;
  align-items: stretch;
}
.cid-qBdMUe7Itx .media-container-row .img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cid-qBdMUe7Itx .media-container-row .img-item img {
  width: 100%;
}
.cid-qBdMUe7Itx .media-container-row .img-item .img-caption {
  background: #ffbc00;
  width: 100%;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-qBdMUe7Itx .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-qBdMUe7Itx .media-container-row .img-item.item1 {
  margin: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-qBdMUe7Itx .img-item {
    width: 100% !important;
  }
  .cid-qBdMUe7Itx .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    margin: 0 0 2rem 0 !important;
  }
}
.cid-qC403jNqhh {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qC403jNqhh .mbr-iconfont {
  font-size: 34px;
  transition: color .3s;
}
.cid-qC403jNqhh .mbr-section-title {
  margin: 0;
}
.cid-qC403jNqhh .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qC403jNqhh .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qC403jNqhh .card-img {
  text-align: initial;
}
.cid-qC403jNqhh .row-item {
  padding-bottom: 2rem;
}
.cid-qC403jNqhh .row-item:hover .card-img .mbr-iconfont {
  color: #ffbc00 !important;
}
@media (max-width: 767px) {
  .cid-qC403jNqhh .card-img,
  .cid-qC403jNqhh .mbr-text,
  .cid-qC403jNqhh .mbr-card-title,
  .cid-qC403jNqhh .mbr-section-subtitle,
  .cid-qC403jNqhh .mbr-section-title,
  .cid-qC403jNqhh .underline {
    text-align: center !important;
  }
}
.cid-qBqABCGJ26 {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-qBqABCGJ26 .mbr-text,
.cid-qBqABCGJ26 .typed-text,
.cid-qBqABCGJ26 .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qBqABCGJ26 .btn {
  margin-left: 4px !important;
}
.cid-qBqABCGJ26 .animated-element {
  color: #ffbc00;
}
.cid-qBqABCGJ26 .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-qBqAGAjiR6 {
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-qBqAGAjiR6 .slider-text-two {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
  text-align: center;
}
.cid-qBqAGAjiR6 .mbr-section-title {
  color: #232323;
}
.cid-qBqAGAjiR6 .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqAGAjiR6 .mbr-text {
  color: #232323;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-qBqAKSGo2q {
  background-image: url("../../../assets/images/kakaotalk-photo-2017-11-17-11-18-26-1440x810.jpg");
}
.cid-qBqAKSGo2q .mbr-section-title {
  color: #ffffff;
}
.cid-qBqAKSGo2q .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqAKSGo2q .mbr-text {
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-qBqIBcIoLl {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qBqIBcIoLl .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #444444 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qBqIBcIoLl .photo-split {
  padding: 0;
}
.cid-qBqIBcIoLl .photo-split img {
  width: 100%;
}
.cid-qBqIBcIoLl .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-qBqIBcIoLl .counter-container ul {
  display: -webkit-flex;
  flex-direction: column;
}
.cid-qBqIBcIoLl .counter-container ul li {
  margin-bottom: .5rem;
  list-style: ✓;
}
.cid-qBqIBcIoLl .wrap-block {
  padding: 3rem 3rem;
}
.cid-qBqIBcIoLl .wrap-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cid-qBqIBcIoLl .wrap-block ul li {
  display: inline-block;
}
.cid-qBqIBcIoLl .wrap-block ul li span {
  text-align: center;
}
.cid-qBqIBcIoLl .social-media {
  margin-top: 1.5em;
  padding: 0;
}
.cid-qBqIBcIoLl .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qBqIBcIoLl .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qBqIBcIoLl .mbr-list,
.cid-qBqIBcIoLl .social-media ul {
  text-align: left;
}
@media (max-width: 500px) {
  .cid-qBqIBcIoLl .wrap-block {
    padding: 3rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-qBqIBcIoLl .mbr-section-title,
  .cid-qBqIBcIoLl .mbr-section-subtitle,
  .cid-qBqIBcIoLl .mbr-text {
    text-align: center !important;
  }
  .cid-qBqIBcIoLl .social-list {
    text-align: center !important;
  }
}
.cid-qBqITAPzE1 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-qBqITAPzE1 .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qBqITAPzE1 .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqITAPzE1 .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-qBqITAPzE1 .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-qBqITAPzE1 .progressbar-title {
  color: white;
}
.cid-qBqITAPzE1 .progress {
  width: 100%;
  height: 5px;
  border-radius: 0;
}
.cid-qBqITAPzE1 .progress_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qBqITAPzE1 .progress_elements > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-qBqITAPzE1 .progress-bar {
  height: 5px;
  background-color: #ffbc00;
}
.cid-qBqITAPzE1 .title-wrap {
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-qBqITAPzE1 .progressbar-number {
  display: inline-block;
}
.cid-qBqITAPzE1 .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qBqITAPzE1 .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqITAPzE1 .progress_value {
  position: relative;
  color: #ffbc00;
}
.cid-qBqITAPzE1 progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqITAPzE1 progress::-webkit-progress-value {
  background: #ffbc00;
}
.cid-qBqITAPzE1 progress[value]::-moz-progress-bar {
  background: #ffbc00;
}
.cid-qBqITAPzE1 progress::-ms-fill {
  background: #ffbc00;
}
.cid-qBqITAPzE1 .progress1 .progressbar-number:before {
  content: '100';
}
.cid-qBqITAPzE1 .progress2 .progressbar-number:before {
  content: '63';
}
.cid-qBqITAPzE1 .progress3 .progressbar-number:before {
  content: '41';
}
.cid-qBqITAPzE1 .progress4 .progressbar-number:before {
  content: '28';
}
.cid-qBqITAPzE1 .progress5 .progressbar-number:before {
  content: '10';
}
.cid-qBqITAPzE1 .progress-bar-1 {
  width: 100%;
}
.cid-qBqITAPzE1 .progress-bar-2 {
  width: 63%;
}
.cid-qBqITAPzE1 .progress-bar-3 {
  width: 41%;
}
.cid-qBqITAPzE1 .progress-bar-4 {
  width: 28%;
}
.cid-qBqITAPzE1 .progress-bar-5 {
  width: 10%;
}
.cid-qBqIZFrsB0 {
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-qBqIZFrsB0 .mbr-section {
  padding: 0;
}
.cid-qBqIZFrsB0 .first-col,
.cid-qBqIZFrsB0 .second-col {
  padding: 0 5%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qBqIZFrsB0 .second-col {
  background-color: #000000;
}
.cid-qBqIZFrsB0 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qBqIZFrsB0 .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-qBqIZFrsB0 .social-media {
  display: -webkit-flex;
  padding-left: 0;
}
.cid-qBqIZFrsB0 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qBqIZFrsB0 .social-media ul li {
  padding-right: 0.6rem;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-qBqIZFrsB0 .about-content {
    padding: 0 1rem;
  }
  .cid-qBqIZFrsB0 .typed-text {
    text-align: center;
  }
  .cid-qBqIZFrsB0 .second-col {
    padding: 1rem;
  }
  .cid-qBqIZFrsB0 .social-media {
    justify-content: center;
    padding: 0 1rem;
  }
  .cid-qBqIZFrsB0 .social-media ul li {
    padding: 0 0.3rem;
  }
}
.cid-qBqIZFrsB0 .mbr-section-title {
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.cid-qBqIZFrsB0 .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqIZFrsB0 .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-qBqIZFrsB0 .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-qBqIZFrsB0 .progressbar-title {
  color: white;
}
.cid-qBqIZFrsB0 .progress {
  width: 100%;
  height: 10px;
  border-radius: 0;
}
.cid-qBqIZFrsB0 .progress_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qBqIZFrsB0 .progress_elements > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-qBqIZFrsB0 .progress-bar {
  height: 10px;
  background-color: #ffbc00;
}
.cid-qBqIZFrsB0 .title-wrap {
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-qBqIZFrsB0 .progressbar-number {
  display: inline-block;
}
.cid-qBqIZFrsB0 .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qBqIZFrsB0 .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqIZFrsB0 .progress_value {
  position: relative;
  color: #ffbc00;
}
.cid-qBqIZFrsB0 progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqIZFrsB0 progress::-webkit-progress-value {
  background: #ffbc00;
}
.cid-qBqIZFrsB0 progress[value]::-moz-progress-bar {
  background: #ffbc00;
}
.cid-qBqIZFrsB0 progress::-ms-fill {
  background: #ffbc00;
}
.cid-qBqIZFrsB0 .progress1 .progressbar-number:before {
  content: '61';
}
.cid-qBqIZFrsB0 .progress2 .progressbar-number:before {
  content: '63';
}
.cid-qBqIZFrsB0 .progress3 .progressbar-number:before {
  content: '41';
}
.cid-qBqIZFrsB0 .progress4 .progressbar-number:before {
  content: '28';
}
.cid-qBqIZFrsB0 .progress5 .progressbar-number:before {
  content: '10';
}
.cid-qBqIZFrsB0 .progress-bar-1 {
  width: 61%;
}
.cid-qBqIZFrsB0 .progress-bar-2 {
  width: 63%;
}
.cid-qBqIZFrsB0 .progress-bar-3 {
  width: 41%;
}
.cid-qBqIZFrsB0 .progress-bar-4 {
  width: 28%;
}
.cid-qBqIZFrsB0 .progress-bar-5 {
  width: 10%;
}
.cid-qBqIDOGFal {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qBqIDOGFal p {
  color: #767676;
}
.cid-qBqIDOGFal .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qBqIDOGFal .main {
  flex-direction: row-reverse;
}
.cid-qBqIDOGFal .row-element,
.cid-qBqIDOGFal .image-element {
  padding: 0;
}
.cid-qBqIDOGFal .image-element {
  display: flex;
  justify-content: center;
}
.cid-qBqIDOGFal .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qBqIDOGFal .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qBqIDOGFal .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ffbc00, #3e97d1);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-qBqIDOGFal .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-qBqIDOGFal .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qBqIDOGFal .text-content {
    padding: 2rem 1rem;
  }
  .cid-qBqIDOGFal .underline .line {
    height: 2px;
  }
  .cid-qBqIDOGFal .mbr-title,
  .cid-qBqIDOGFal .underline,
  .cid-qBqIDOGFal .mbr-text,
  .cid-qBqIDOGFal .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qBqB4oZ0Px {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qBqB4oZ0Px .mbr-text,
.cid-qBqB4oZ0Px .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qBqB4oZ0Px .mbr-section-title {
  margin-left: -0.2rem;
}
.cid-qBqB4oZ0Px .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqB4oZ0Px .btn {
  margin: .4rem 4px !important;
}
@media (max-width: 767px) {
  .cid-qBqB4oZ0Px .mbr-section-title {
    margin-left: -0.8rem;
  }
}
.cid-qBqB7fQj2j {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qBqB7fQj2j .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qBqB7fQj2j .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qBqB7fQj2j .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qBqB7fQj2j .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qBqB7fQj2j .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qBqB7fQj2j .mbr-gallery-item > div:hover::before {
  opacity: .5;
}
.cid-qBqB7fQj2j .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #444444;
}
.cid-qBqB7fQj2j .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-qBqB7fQj2j .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-qBqB7fQj2j .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00;
}
.cid-qBqB7fQj2j .mbr-gallery-filter ul {
  display: block;
}
.cid-qBqB7fQj2j .mbr-gallery-filter ul li {
  position: relative;
}
.cid-qBqB7fQj2j .mbr-gallery-filter li.active .btn {
  color: #ffbc00;
  background: transparent;
}
.cid-qBqB7fQj2j .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00;
}
.cid-qBqB7fQj2j .mbr-gallery-filter li.active::after,
.cid-qBqB7fQj2j .mbr-gallery-filter li:hover::after {
  transform: translateX(-50%) scale(1);
  background: #ffbc00;
}
.cid-qBqB7fQj2j .mbr-gallery-title {
  transition: all.3s;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  top: -2rem;
  right: 0;
  text-align: right;
  padding: 1rem;
  color: #fff;
  background: transparent;
}
.cid-qBqB7fQj2j .mbr-gallery-item > div:hover .mbr-gallery-title {
  top: 0;
  right: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
.cid-qBqB7fQj2j .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-qBqB7fQj2j .icon-focus:before {
  content: '\e95e';
}
.cid-qBqB7fQj2j .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-qBqB7fQj2j .mbr-section-title {
  margin: 0;
}
.cid-qBqB7fQj2j .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qBqB7fQj2j .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qBqJada7F5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-qBqJada7F5 .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qBqJada7F5 .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqJada7F5 .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-qBqJada7F5 .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-qBqJada7F5 .progressbar-title {
  color: white;
}
.cid-qBqJada7F5 .progress {
  width: 100%;
  height: 5px;
  border-radius: 0;
}
.cid-qBqJada7F5 .progress_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qBqJada7F5 .progress_elements > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-qBqJada7F5 .progress-bar {
  height: 5px;
  background-color: #ffbc00;
}
.cid-qBqJada7F5 .title-wrap {
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-qBqJada7F5 .progressbar-number {
  display: inline-block;
}
.cid-qBqJada7F5 .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qBqJada7F5 .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqJada7F5 .progress_value {
  position: relative;
  color: #ffbc00;
}
.cid-qBqJada7F5 progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qBqJada7F5 progress::-webkit-progress-value {
  background: #ffbc00;
}
.cid-qBqJada7F5 progress[value]::-moz-progress-bar {
  background: #ffbc00;
}
.cid-qBqJada7F5 progress::-ms-fill {
  background: #ffbc00;
}
.cid-qBqJada7F5 .progress1 .progressbar-number:before {
  content: '100';
}
.cid-qBqJada7F5 .progress2 .progressbar-number:before {
  content: '63';
}
.cid-qBqJada7F5 .progress3 .progressbar-number:before {
  content: '41';
}
.cid-qBqJada7F5 .progress4 .progressbar-number:before {
  content: '28';
}
.cid-qBqJada7F5 .progress5 .progressbar-number:before {
  content: '10';
}
.cid-qBqJada7F5 .progress-bar-1 {
  width: 100%;
}
.cid-qBqJada7F5 .progress-bar-2 {
  width: 63%;
}
.cid-qBqJada7F5 .progress-bar-3 {
  width: 41%;
}
.cid-qBqJada7F5 .progress-bar-4 {
  width: 28%;
}
.cid-qBqJada7F5 .progress-bar-5 {
  width: 10%;
}
.cid-qBqB90ioec {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qBqB90ioec .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qBqB90ioec .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qBqB90ioec .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qBqB90ioec .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qBqB90ioec .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qBqB90ioec .mbr-gallery-item > div:hover::before {
  opacity: .5;
}
.cid-qBqB90ioec .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #444444;
}
.cid-qBqB90ioec .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-qBqB90ioec .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-qBqB90ioec .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00;
}
.cid-qBqB90ioec .mbr-gallery-filter ul {
  display: block;
}
.cid-qBqB90ioec .mbr-gallery-filter ul li {
  position: relative;
}
.cid-qBqB90ioec .mbr-gallery-filter li.active .btn {
  color: #ffbc00;
  background: transparent;
}
.cid-qBqB90ioec .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00;
}
.cid-qBqB90ioec .mbr-gallery-filter li.active::after,
.cid-qBqB90ioec .mbr-gallery-filter li:hover::after {
  transform: translateX(-50%) scale(1);
  background: #ffbc00;
}
.cid-qBqB90ioec .mbr-gallery-title {
  transition: all.3s;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  top: -2rem;
  right: 0;
  text-align: right;
  padding: 1rem;
  color: #fff;
  background: transparent;
}
.cid-qBqB90ioec .mbr-gallery-item > div:hover .mbr-gallery-title {
  top: 0;
  right: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
.cid-qBqB90ioec .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-qBqB90ioec .icon-focus:before {
  content: '\e95e';
}
.cid-qBqB90ioec .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-qBqB90ioec .mbr-section-title {
  margin: 0;
}
.cid-qBqB90ioec .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qBqB90ioec .underline .line {
  width: 3rem;
  height: 2px;
  background: #232323;
  display: inline-block;
}
.cid-qBqBcYfAVB {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-qBqBcYfAVB .stats-item:hover span {
  color: #ffbc00;
}
.cid-qBqBcYfAVB .stats-item {
  padding: 80px 20px;
}
.cid-qBqBcYfAVB .stats-item:nth-child(2n) {
  background-color: #efefef;
}
.cid-qBqBcYfAVB .stats-item:nth-child(odd) {
  background-color: #cccccc;
}
.cid-qBqBcYfAVB .stats-item > span {
  transition: all 0.3s ease-in-out;
}
.cid-qBqBcYfAVB .mbr-iconfont {
  font-size: 50px;
}
.cid-qBqBcYfAVB .heading {
  margin: 20px 0;
  color: #232323;
}
.cid-qBqBcYfAVB .container {
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 768px) and (min-width: 577px) {
  .cid-qBqBcYfAVB .stats-item:first-child {
    background: #efefef;
  }
  .cid-qBqBcYfAVB .stats-item:nth-child(2n) {
    background: #cccccc;
  }
  .cid-qBqBcYfAVB .stats-item:nth-child(0n+3) {
    background: #cccccc none repeat scroll 0 center;
  }
  .cid-qBqBcYfAVB .stats-item:last-child {
    background: #efefef;
  }
}
.cid-qBqBcYfAVB .counter {
  text-align: center;
  color: #000000;
}
.cid-qBqBcYfAVB .mbr-card-title,
.cid-qBqBcYfAVB .mbr-iconfont {
  text-align: center;
  color: #000000;
}
.cid-qBqBb6lPtF {
  background: #ffffff;
}
.cid-qBqBb6lPtF .image-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-qBqBb6lPtF .image-block {
    width: 100% !important;
  }
}
.cid-qBqB1BagUT {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-qBqB1BagUT .row {
  margin-left: -5rem;
}
.cid-qBqB1BagUT .slider-text-two {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
}
.cid-qBqB1BagUT .mbr-section-title,
.cid-qBqB1BagUT .mbr-section-subtitle {
  color: #232323;
}
.cid-qBqB1BagUT .mbr-section-subtitle span {
  font-weight: bold;
}
.cid-qBqB1BagUT .mbr-text {
  color: #232323;
  font-weight: 100;
}
.cid-qBqB1BagUT .mbr-section-btn {
  color: white;
}
@media (max-width: 767px) {
  .cid-qBqB1BagUT .row {
    margin-left: -15px;
  }
}
.cid-qBqJdVGjOT {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qBqJdVGjOT .mbr-section-title {
  color: #ffffff;
}
.cid-qBqJdVGjOT .mbr-section-title span {
  color: #ffbc00;
}
.cid-qBqJdVGjOT .mbr-text {
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 100;
}
